<div class="loading text-muted" ng-hide="lists">
  <fa name="spinner" size="5" spin></fa><br>Loading resources&hellip;</div>

      <slick>

        <div ng-repeat="(id, list) in lists">

            <div >


                <img  ng-if="list.thumbnail" class="highlights-image" ng-src="{{ list.thumbnail }}" alt="Thumbnail for {{ list.title }}">

                <h2>{{ list.title }}</h2>
            </div>

        </div>


      </slick>
  
<script>
  $(document).ready(function() {
    $('.slick').slick({
      infinite: true,
      speed: 500,
      fade: true,
      cssEase: 'linear',
      adaptiveHeight: true
    });



  });
</script>
