<!-- RESOURCES INFORMATION -->

<div class="resources" >
    <div id="resources-header">
        <h1>RESOURCES</h1>
        <ul class="resources-header-icons">
            <li>
                <button class="resources-grid">
                    <img id="button-icon-grid" src="img/icon_grid-black.png" height="100%" width="100%">
                </button>
            </li>

            <li>
                <button class="resources-list">
                    <img id="button-icon-list"
                        src="img/icon-list.png" height="100%" width="100%">
                </button>
            </li>
        </ul>
    </div>
    <div id="resources-secondary">
        <ul>
        <li>
            <form id="orderBy"  role="search">Order by:
                <select class="form-control" ng-model="sort">
                  <option class="orderOption" value="order">Topic</option>
                  <option value="title">Title</option>
                  <option value="year">Year</option>

                  </select>

            </form>
        </li>
        <li>
            <form>Filter by: <input id="filterBy" type="search" placeholder="query" ng-model="query"></form>

        </li>
        </ul>
    </div>
<div class="loading text-muted" ng-hide="lists"><fa name="spinner" size="5" spin></fa><br>Loading resources&hellip;</div>
<div id="resources-list-container" ng-show="items" infinite-scroll="loadMore()" infinite-scroll-distance="3">

    <ul class="resources-grid">
        <li ng-repeat="item in items | filter:query | orderBy:sort | limitTo:totalDisplayed">
            <div ng-click="displayTertiary()"class="resource-grid-thumbnail resource-grid-thumbnail-div" style="background-image: url({{ item.thumbnail }});width: 100%;height: 100%;"></div>
            <a href="#0" class="resources-grid-title">{{ item.title }}</a>
            <a href="#0" class="resources-grid-type">{{ item.type}}</a>
            <a href="#0" class="resources-grid-year">{{ item.date}}</a>
        </li>


    </ul>
    <script src="js/popup_main.js"></script>
</div>


    <div class="secondary" role="alert">
	<div class="secondary-container">
		<ul class="secondary-list">
            <li>
                <div class="secondary-item-title">ITEM</div>
                <div class="secondary-item-description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eu magna lorem. Maecenas efficitur nisl laoreet, ultrices metus in, suscipit risus. Mauris fermentum, dui ut hendrerit interdum, sapien leo mattis lorem, ut varius justo libero et lectus. Nullam auctor, odio sit amet finibus laoreet, ante magna gravida magna, sit amet posuere metus nisi non tellus. Sed congue volutpat risus et gravida. Sed non est lacus. </p>
                </div>
            </li>
            <li>
                <div class="secondary-item-title">ITEM</div>
                <div class="secondary-item-description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eu magna lorem. Maecenas efficitur nisl laoreet, ultrices metus in, suscipit risus. Mauris fermentum, dui ut hendrerit interdum, sapien leo mattis lorem, ut varius justo libero et lectus. Nullam auctor, odio sit amet finibus laoreet, ante magna gravida magna, sit amet posuere metus nisi non tellus. Sed congue volutpat risus et gravida. Sed non est lacus. </p>
                </div>
            </li>
            <li>
                <div class="secondary-item-title">ITEM</div>
                <div class="secondary-item-description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eu magna lorem. Maecenas efficitur nisl laoreet, ultrices metus in, suscipit risus. Mauris fermentum, dui ut hendrerit interdum, sapien leo mattis lorem, ut varius justo libero et lectus. Nullam auctor, odio sit amet finibus laoreet, ante magna gravida magna, sit amet posuere metus nisi non tellus. Sed congue volutpat risus et gravida. Sed non est lacus. </p>
                </div>
            </li>
            <li>
                <div class="secondary-item-title">ITEM</div>
                <div class="secondary-item-description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eu magna lorem. Maecenas efficitur nisl laoreet, ultrices metus in, suscipit risus. Mauris fermentum, dui ut hendrerit interdum, sapien leo mattis lorem, ut varius justo libero et lectus. Nullam auctor, odio sit amet finibus laoreet, ante magna gravida magna, sit amet posuere metus nisi non tellus. Sed congue volutpat risus et gravida. Sed non est lacus. </p>
                </div>
            </li>
        </ul>
		<a href="#0" class="secondary-close"><img src="img/icon_close.png" height="100%" width="100%"/></a>
	</div>
</div> <!-- SECONDARY CLOSE -->


    <div class="tertiary" role="alert">
	<div class="tertiary-container">
		<div id="item-header">
            <h1>RESOURCE TITLE</h1>
            <h2>Monday 1 January 2017</h2>
            <h3>Origin of item</h3>
            <h3>Specific page origin</h3>
        </div>

        <div class="item-slider-container">
        	<div id="item-slider">
                <div class="itemSlides">
                    <div class="item">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eu magna lorem. Maecenas efficitur nisl laoreet, ultrices metus in, suscipit risus. Mauris fermentum, dui ut hendrerit interdum, sapien leo mattis lorem, ut varius justo libero et lectus. Nullam auctor, odio sit amet finibus laoreet, ante magna gravida magna, sit amet posuere metus nisi non tellus. Sed congue volutpat risus et gravida. Sed non est lacus.

                    Etiam consequat pellentesque est, eu mollis nibh dignissim non. Phasellus auctor urna augue. Vivamus maximus velit turpis, sed elementum libero tincidunt sit amet. Phasellus tincidunt pretium ante, eleifend gravida nunc facilisis ac. Sed pellentesque porta dapibus. Integer lacus velit, sagittis lacinia mi sed, porttitor finibus eros. Nunc at sagittis ipsum. Proin tempor augue quis turpis gravida volutpat.
                    </div>

                    <div class="item-caption">Albert Francis Lenertz, Aeroplane Jelly Song 1953–1960s, nla.cat-vn3885655, courtesy of McCormick Foods Australia Pty Ltd</div>
                  </div>

            <a class="item-prev" onclick="plusSlides(-1)"><img src="img/icon_previous.png"/> previous</a>
			<a class="item-next" onclick="plusSlides(1)">next <img src="img/icon_next.png"/></a>
                </div>

        <div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
        </div>
        <script src="js/high_slideshow.js"></script>
	</div>

    <div id="item-links">
        <h1><a href="#">View digitised item at Trove <img src="img/icon-extLinks.png"></a></h1>
        <h2>Part of <a href="#">TOPIC</a></h2>
    </div>

    <a href="#0" class="tertiary-close"><img src="img/icon_close.png" height="100%" width="100%"/></a>
	</div>
</div> <!-- TERTIARY CLOSE -->




<script src="js/grid-list-view.js"></script>

    <div id="resources-footer">
        <div id="resources-footer-main">
            <h1>Visit the Exhibition</h1>
            <h2><a href="https://www.nla.gov.au/exhibitions/the-sell">The Sell: Australian Advertising 1790s to 1990s</a></h2>
            <p>National Library Australia, Canberra</p>
            <p>23rd November 2016 to 25th April 2017s</p>
        </div>
            <div id="featured-footer-secondary">
                <a href="http://trove.nla.gov.au/"><img src="img/icon_logo.png"/></a>
                <h3>Powered by <a href="http://trove.nla.gov.au/">Trove</a></h3>
            </div>
        </div>
    </div>

<script>
  $(document).ready(function() {
  $('.resources').css({
      'display': 'inline',
  });
  $('.featured').css({
      'display': 'none',
  });
  $('.base-nav li:nth-child(2)').css({
      'opacity': '0.5',
  });
  $('.base-nav li:nth-child(3)').css({
      'opacity': '1',
  });

});
</script>
